* {
    margin: 0;
    padding: 0;
}

.navbar, .nav-list, .search{
    display: flex;
}

.navbar {
    box-shadow: 0 0 10px lightgray ;
    flex-wrap: nowrap;
}

.nav-list{
    align-items: center;
    justify-content: space-around;
}

.nav-list img {
    width: 8%;
}

.nav-list a {
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.search-box {
    width: 500px;
    height: 60%;
    border: none;
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
    padding-left: 8px ;
}

.nav-list a:hover {
    border-bottom: 3px solid rgb(156, 38, 138);
}

.side-list {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.side-list li {
    display: flex;
    list-style: none;
    padding: 0 25px;
}